# sbt
target/
project/target/
project/project/

# IDE
.idea/
.bsp/
.bloop/
.metals/
.vscode/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Coverage reports
scoverage-report/
target/
project/target/
project/project/
